{% extends "base.html" %}
{% block body %}

<div class="container mt-5">
    <h1 class="text-center">About Us</h1>
    <p class="text-center"><strong>Welcome to School - Management!</strong></p>

    <p>School - Management is a platform designed to [briefly describe the purpose or main features of the website].
        Whether you're a [target audience] or [another target audience], our goal is to provide you with [briefly
        mention the benefits or value proposition].</p>

    <h2 class="text-center">How to Use School - Management:</h2>
    <ul>
        <li>User-friendly interface for easy navigation and interaction</li>
        <li>Student registration, update, delete, and view functionalities</li>
        <li>Responsive design compatible with desktop and mobile devices</li>
        <li>Secure data storage and protection of student information</li>
        <li>Efficient search and filtering options for quick access to student records</li>
        <li>24/7 support to assist users with any questions or issues</li>
    </ul>

    <h2>Contact Us:</h2>
    <p>If you have any questions, suggestions, or feedback, please feel free to contact us at support@studentsystem.com.
        We
        value your input and are committed to providing the best possible experience for our users.</p>

</div>


{% endblock %}